a {
	color: inherit;
}
.works {
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	background: rgb(247, 37, 133);
	background: linear-gradient(
		305deg,
		rgba(247, 37, 133, 0.55) 0%,
		rgba(114, 9, 183, 0.6) 26%,
		rgba(114, 9, 183, 0.8) 49%,
		rgba(67, 97, 238, 0.9) 78%,
		rgba(76, 201, 240, 1) 100%
	);
}
.myworks {
	width: 100%;
	height: 18%;
	display: flex;
	flex-direction: row;
	gap: 3vw;
}
.myworkstitle {
	width: 18%;
	height: 100%;
	display: flex;
	align-items: flex-end;
	justify-content: flex-end;
	font-size: 2vw;
	font-weight: bold;
	color: black;
}
.worksline {
	width: 70.5%;
	height: 90%;
	border: 3px solid;
	border-image-slice: 1;
	border-width: 3px;
	border-image-source: linear-gradient(to left, white 0%, black 60%);
	border-left: 0;
	border-right: 0;
	border-top: 0;
}
.herearemyworks {
	height: 7%;
	width: 26.6%;
	display: flex;
	align-items: flex-end;
	justify-content: center;
	font-size: 1vw;
	font-weight: bold;
}
.browserview {
	width: 100%;
	height: 75%;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}
.cardscontainer {
	width: 25%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}
.cards {
	width: 100%;
	height: 45%;
	position: relative;
}
.cardsbgimg {
	border-radius: 15px;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: url("../assets/cards/cell.png");
	background-size: cover;
	background-position: 50%, 50%;
	filter: blur(0);
	transition: filter 0.5s ease;
	z-index: 0;
}
.cards:hover .cardsbgimg {
	filter: blur(5px);
}
.cardcontent {
	width: 100%;
	height: 100%;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	opacity: 0;
	z-index: 1;
	transition: 0.5s;
	border-radius: 15px;
}
.cardcontent:hover {
	width: 100%;
	height: 100%;
	background: rgba(255, 255, 255, 0.25);
	box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
	backdrop-filter: blur(3px);
	-webkit-backdrop-filter: blur(3px);
	border-radius: 10px;
	border: 1px solid rgba(255, 255, 255, 0.18);
	border-radius: 15px;
	scale: 99%;
	opacity: 1;
}
.cardtext {
	width: 80%;
	height: 70%;
	display: flex;
	justify-content: center;
	align-items: center;
	line-break: auto;
	font-size: 2vw;
	overflow-wrap: break-word;
	word-wrap: break-word;
	word-break: break-word;
}
.cardbuttons {
	width: 100%;
	height: 30%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 1vw;
}

.cardbutton {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 0.5vw;
	border: none;
	border-radius: 5px;
	background-color: black;
	color: white;
	padding: 0.7vw;
}
.cardbutton:hover {
	transition-timing-function: ease-in-out;
	transition: 0.5s;
	transform: scale(1.03);
}
.cardbutton:active {
	transition: none;
	transform: translateY(2px);
}
.cards1 {
	width: 100%;
	height: 45%;
	position: relative;
}
.cardsbgimg1 {
	border-radius: 15px;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: url("../assets/cards/n3c4.png");
	background-size: cover;
	background-position: 50%, 50%;
	filter: blur(0);
	transition: filter 0.5s ease;
	z-index: 0;
}
.cards1:hover .cardsbgimg1 {
	filter: blur(5px);
}
.cards2 {
	width: 100%;
	height: 45%;
	position: relative;
}
.cardsbgimg2 {
	border-radius: 15px;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: url("../assets/cards/signlanguage.png");
	background-size: cover;
	background-position: 50%, 50%;
	filter: blur(0);
	transition: filter 0.5s ease;
	z-index: 0;
}
.cards2:hover .cardsbgimg2 {
	filter: blur(5px);
}
.cards3 {
	width: 100%;
	height: 45%;
	position: relative;
}
.cardsbgimg3 {
	border-radius: 15px;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: url("../assets/cards/portfolio.png");
	background-size: cover;
	background-position: 50%, 50%;
	filter: blur(0);
	transition: filter 0.5s ease;
	z-index: 0;
}
.cards3:hover .cardsbgimg3 {
	filter: blur(5px);
}

.cards4 {
	width: 100%;
	height: 45%;
	position: relative;
}
.cardsbgimg4 {
	border-radius: 15px;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: url("../assets/cards/sql.png");
	background-size: cover;
	background-position: 50%, 50%;
	filter: blur(0);
	transition: filter 0.5s ease;
	z-index: 0;
}
.cards4:hover .cardsbgimg4 {
	filter: blur(5px);
}

.cards5 {
	width: 100%;
	height: 45%;
	position: relative;
}
.cardsbgimg5 {
	border-radius: 15px;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: url("../assets/cards/timeline.png");
	background-size: cover;
	background-position: 50%, 50%;
	filter: blur(0);
	transition: filter 0.5s ease;
	z-index: 0;
}
.cards5:hover .cardsbgimg5 {
	filter: blur(5px);
}
@media screen and (max-width: 480px) {
	.myworks {
		width: 100%;
		height: 13%;
		display: flex;
		flex-direction: row;
		gap: 3vw;
	}
	.myworkstitle {
		width: 25%;
		height: 100%;
		display: flex;
		align-items: flex-end;
		justify-content: flex-end;
		font-size: 4vw;
		font-weight: bold;
		color: black;
	}
	.worksline {
		width: 65%;
		height: 90%;
		border: 3px solid;
		border-image-slice: 1;
		border-width: 3px;
		border-image-source: linear-gradient(to left, white 0%, black 60%);
		border-left: 0;
		border-right: 0;
		border-top: 0;
	}
	.herearemyworks {
		height: 4%;
		width: 100%;
		display: flex;
		align-items: flex-end;
		justify-content: center;
		font-size: 2.5vw;
		font-weight: bold;
	}
	.workscontmobile {
		width: 100%;
		height: 83%;
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
	}
	.bNjfao {
		padding-left: 10px;
	}
	.workscarousel {
		width: 100%;
		height: 100%;
	}
	.workscarouselitems {
		width: 100%;
		height: 100%;
	}
	.cards {
		width: 90vw;
		height: 35vh;
		position: relative;
	}
	.cards1 {
		width: 90vw;
		height: 35vh;
		position: relative;
	}
	.cards2 {
		width: 90vw;
		height: 35vh;
		position: relative;
	}
	.cards3 {
		width: 90vw;
		height: 35vh;
		position: relative;
	}
	.cards4 {
		width: 90vw;
		height: 35vh;
		position: relative;
	}
	.cards5 {
		width: 90vw;
		height: 35vh;
		position: relative;
	}
	.cardtext {
		font-size: 8vw;
		height: 60%;
	}
	.cardbuttons {
		height: 40%;
		gap: 6vw;
	}
	.cardbutton {
		padding: 3vw;
	}
}
